body {
    background: linear-gradient(135deg, #f8f9fa, #e3f2fd);
    min-height: 100vh;
}

.container-main {
    margin: 60px auto;          
    padding: 40px;
    width: 80%;
    background-color: honeydew;
    border-radius: 15px;        
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
    border: 3px solid #198754;  
}

.container {
    margin-top: 10px;
}


h1 {
    font-size: 2.2rem;
    font-weight: 800;
    margin-bottom: 25px;
    color: #198754;
}

.table th,
.table td {
    text-align: center;
    vertical-align: middle;
}

.table thead {
    background-color: #198754;
    color: white;
}

.table tbody tr:hover {
    background-color: #e9f5ee;
}

/* Total amount */
#totalAmount {
    font-size: 1.4em;
    font-weight: bold;
    color: #198754;
}
